@model Nventory.ViewModels.UserViewModel

@{
    ViewData["Title"] = "New user";
}


@if(ViewData["errors"] != null)
{ 
    foreach(var error in ViewData["errors"] as IEnumerable<string>)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @error
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}


<h3>Register new user</h3>


<hr />
<form asp-action="Create">
    <div class="row justify-content-between">
        <div class="col-md-4">
            <div class="form-group required">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" tabindex="1" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" tabindex="5"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>       
        <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-4">
            <div class="form-group required">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control " tabindex="2" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group ">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" tabindex="6"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-between">

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" tabindex="3"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" tabindex="7"/>
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffNumber" class="control-label"></label>
                <input asp-for="StaffNumber" class="form-control" tabindex="4"/>
                <span asp-validation-for="StaffNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
    </div>

    <div class="form-group">
        <input type="submit" style="margin-top:30px" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
