@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Manage users";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-info" asp-area="" asp-controller="ManageUsers" asp-action="Add"><i class="fa fa-plus"></i> Add</a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>E-mail</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>
                                            <span>
                                                @user.Name
                                                @if(user.IsAdmin)
                                                { 
                                                <span class="badge badge-danger">admin</span>
                                                }
                                            </span>
                                        </td>
                                        <td>@user.Email</td>
                                        <td>
                                            <span>
                                                <a class="btn btn-info" asp-area="" asp-controller="ManageUsers" asp-action="Edit" asp-route-id=@user.Id><i class="fa fa-edit"></i> Edit</a>
                                                <a class="btn btn-danger" asp-area="" asp-controller="ManageUsers" asp-action="Remove" asp-route-id=@user.Id><i class="fa fa-trash"></i> Remove</a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            $("#bootstrap-data-table-export").DataTable();

            $("#content-container").addClass("container-fluid");
            $("#content-container").removeClass("container");

        });


    </script>
}