@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Manage users";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-info" asp-area="" asp-controller="ManageUsers" asp-action="Create"><i class="fa fa-plus"></i> Add new</a>                        
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-bordered table-hover table-condensed display" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="column-align-left">Name</th>
                                    <th class="column-align-left">E-mail</th>
                                    <th data-orderable="false"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>
                                            <span>
                                                @user.UserName
                                                @if (user.IsAdmin)
                                                {
                                                    <span class="badge badge-pill badge-danger superscript">admin</span>
                                                }
                                            </span>
                                        </td>
                                        <td>@user.Email</td>
                                        <td>
                                            <span>
                                                <a class="btn btn-info" asp-area="" asp-controller="ManageUsers" asp-action="Edit" asp-route-id=@user.Id><i class="fa fa-edit"></i> Edit</a>
                                                <a class="btn btn-danger" asp-area="" asp-controller="ManageUsers" asp-action="Remove" asp-route-id=@user.Id><i class="fa fa-trash"></i> Remove</a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->
@*Add user modal
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create a new account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-area="" asp-controller="ManageUsers" asp-action="Create">
                        <hr />
                        @*<div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
<button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
</div>
        </div>
    </div>
</div>*@


@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            $("#bootstrap-data-table-export").DataTable({
                stateSave: true,
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "columnDefs": [
                    { "targets": 'column-align-left', "className": "text-left align-middle" },
                    { "targets": -1, "className": "text-center", "width": "15%", "searchable": false }
                ]

            });

            $("#content-container").addClass("container-fluid");
            $("#content-container").removeClass("container");

        });


    </script>
    <partial name="_ValidationScriptsPartial" />
}