@using Microsoft.AspNetCore.Identity
@using Nventory.Models;
@inject SignInManager<NventoryUser> SignInManager
@inject UserManager<NventoryUser> UserManager
@**@


@if (SignInManager.IsSignedIn(User))
{
   <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar rounded-circle" src="/images/admin.jpg" alt="User Avatar">
        </a>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <div class="user-menu dropdown-menu">
                <div class="alert-info text-center">@User.Identity.Name</div>

                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user"></i> My Profile</a>

                <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>   
                
                <button type="submit" class="nav-link btn btn-link"><i class="fa fa-power-off"></i> Logout</button>
            </div>

        </form>
    </div>
    
}
else
{
    <a class="nav-link text-dark float-right" asp-area="Identity" asp-page="/Account/Login">Login</a>

}
